* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(123, 123, 252, 0.534);
  display: flex;
  text-align: center;
  font-family: "Manrope";
}

#mylist {
  margin: 50px 500px;
  padding: 20px;
  min-height: 150px;
  font-size: 20px;
  font-weight: 400;
  border: rgba(29, 29, 126, 0.507) 3px solid;
  background: rgba(254, 231, 231, 0.607);
}

#myname {
  text-decoration: overline;
}

.list {
  margin: 60px 500px;
  padding: 35px;
  min-height: 150px;
  font-size: 20px;
  font-weight: 400;
  border: rgba(29, 29, 126, 0.507) 3px solid;
  background: rgba(254, 231, 231, 0.607);
}
